*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #F4E1C6;
}
.top-side{
    width: 100%;
    background-color: #8E3F4C;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.nav-bar a{
    text-decoration: none;
    text-align: center;
    padding: 1.3em 1em;
    width: 100%;
    color: black;
    font-family: "Dosis", sans-serif;
    font-size: .9em;
}
.nav-bar a:hover{
    background: rgba(255, 255, 255, .5);
}
.rsvpBtn{
    padding: .8em;
    margin-top: 1em;
    background-color: #7B1B38;
    max-width: 85%;
    justify-self: center;
    color: #EDD3BD;
    border-radius: 15px;
    font-family: "Dosis", sans-serif;
}
main{
    margin: 0 1em;
}
.banner-container{
    margin-top: 2em;
    position: relative;
}
.main-image img{
    width: 100%;
    height: auto;
    opacity: 0.5;
    display: block;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 3px solid;
    margin-right: 1em;
}
.title-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.names-top{
    /* background: rgba(255, 255, 255, 0.6); */
    font-family: "Pinyon Script", cursive;
    font-weight: 570;
    font-size: 1.5em;
    border-radius: 8px;
    padding: .3em;
    border: 2px solid;
}
.clock{
    display: flex;
    justify-content: space-around;
}
#days-count, #hours-count, #minutes-count, #seconds-count{
    /* font-family: "Dosis", sans-serif; */
    font-family: "Pinyon Script", cursive;
    display: flex;
    flex-direction: column;
    padding: .4em;
}
#clock{
    margin-top: .8em;
    margin-right: 1em;
    margin-left: 1em;
    font-family: "Dosis", sans-serif;
    font-size: 1.2em;
    font-weight: 350;
    background: rgba(255, 255, 255, 0.3);
    padding: .2em;
    text-align: center;
    border-radius: 15px;
    border: 3px solid #D5A8A0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.wedding-info-title, .regalos{
    padding: 1em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: 3px solid #D5A8A0;
    border-radius: 15px;
    margin: 2.3em 0em;
    background-color: #8E3F4C;
}
.wedding-info-title h1, .wedding-info-title h2, .wedding-info-title h3, .regalos h1{
    font-family: "Pinyon Script", cursive;
    font-weight: 550;
    text-align: center;
}
.regalos h1{
    font-size: 2.8em;
    color: #EDD3BD;
}
.matrimonio-title{
    color: #EDD3BD;
}
.wedding-info-title h1{
    font-size: 2.6em;
}
.wedding-info-title h2{
    font-size: 1.7em;
}
.wedding-info-title h3{
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: 1.5em;
}
.second-block-container, .regalos-container{
    padding: 1em;
    border-radius: 15px;
    border: solid 3px #D5A8A0;
    background: rgba(255, 255, 255, 0.3);
    background-color: #8E3F4C;
}
.venue{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .4em;
    max-width: 100%;
    /* margin: 1em auto; */
}
.wedding-infos-block{
    margin: 2.3em 0em;
    padding: .7em;
    background-color:#F4E1C6;
    border-radius: 20px;
}
.venue-infos, .dress-infos, .sealings-infos, .brasil-infos{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
}
.venue-infos p, .dress-infos p, .sealings-infos p, .brasil-infos p{
    font-family: "Dosis", sans-serif;
    font-size: 1em;
    line-height: 2.5em;
}
.venue-infos a, .sealings-infos a, .brasil-infos a{
    text-decoration: none;
    color: black;
}
.dress-infos{
    max-width: 100%;
}
.dress-infos h2{
    font-size: 2.2em;
}
.dress-infos h3{
    font-size: 1.7em;
}
.dress-infos p{
    font-size: 1em;
}
#venue-map-svg, #dress-code-svg, #temple-img, #dinner-img{
    border-radius: 50%;
    align-self: center;
    max-width: 13em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.divisor{ 
    margin-top: 1.7em;
    margin-bottom: 1em;
    border-top: solid 3px #D5A8A0;
}
.dressCode, .sealing, .brasil{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    /* margin: 9em auto 3em; */
    padding: 1em;
}
.sealing{
    flex-direction: column;
    margin-top: 3em;
}
.dressCode, .brasil{
    flex-direction: column-reverse;
    margin-top: 2.3em;
}
#colors{
    margin-top: .8em;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#cedar-rose-color{
    padding: .2em .9em;
    margin-top: .5em;
    margin-bottom: .5em;
    font-style: italic;
    border-radius: 15px;
    color: #EDD3BD;
    background-color: #D97F7F;
}
#Terracota{
    padding: .2em .9em;
    margin-top: .5em;
    margin-bottom: .5em;
    font-style: italic;
    border-radius: 15px;
    color: #EDD3BD;
    background-color: #AE2C23;
}
#Burgundy{
    padding: .2em .9em;
    margin-top: .5em;
    margin-bottom: .5em;
    font-style: italic;
    border-radius: 15px;
    color: #EDD3BD;
    background-color: #7B1B38;
}
#giftbox{
    max-width: 17vh;
    border-radius: 50%;
    align-self: center;
}
.bank-title-img{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
    margin: 1em 0;
    background-color: #EDD3BD;
    border-radius: 15px;
}
.gift-p{
    font-family: "Dosis", sans-serif;
    font-size: 1em;
    line-height: 2.5em;
    text-align: center;
    padding: .5em;
}
#bank-data{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1.5em;
}
#arrow{
    max-width: 3vh;
    align-self: center;
    margin-top: 3em;
}
.bank-br, .bank-py{
    padding: 1em 1em;
    margin: 2em 0em;
    background-color: #F4E1C6;
    border: 3px solid #7B1B38;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.bank-br h3, .bank-py h3{
    font-family: "Dosis", sans-serif;
    font-size: 1.1em;
    text-align: center;
    font-style: italic;
}
.bank-br p, .bank-py p{
    letter-spacing: .1em;
    font-family: "Dosis", sans-serif;
    margin-top: 1em;
    line-height: 1.9em;
    font-size: .9em;
}
.titulo-bank{
    text-decoration: underline;
    text-align: center;
    margin-top: .5em;
}
.regalos-container{
    border: solid 3px #D5A8A0;
}